<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <title>Хотел за домашни любимци - Косматковци</title>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav}"/>
</header>
<main th:object="${animals}">
    <div class="my-4 d-flex flex-wrap justify-content-around align-items-center">
        <th:block th:if="${animals.size() == 0}">
            <div class="container text-center">
                <h5 class="d-block">Нямате регистрирани любимци</h5>
                <a th:href="@{/animals/register}" class="d-block m-5 text-decoration-none">
                    <button type="button" class="btn btn-primary">Регистрирай домашен любимец</button>
                </a>
            </div>
        </th:block>

        <h5 th:if="${animals.size() > 0}">За кой от вашите любимци желаете да направите резервация?</h5>
    </div>

    <div class="d-flex flex-wrap justify-content-around align-items-center my-4">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12" th:each="a : ${animals}">
            <div class="card mx-3 mb-2 box-shadow ">
                <img th:src="@{${a.imageUrl}}" class="card-img-top rounded-3" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: auto; max-width: 15rem; display: block;">
                <div class="card-body">
                    <div class="text-start">
                        <p class="card-text border-bottom" th:text="|${a.animalType}: ${a.name}|"></p>
                        <p class="card-text border-bottom" th:text="|${a.gender.displayLabel}|"></p>
                        <p class="card-text border-bottom" th:text="|Порода: ${a.breed}|"></p>
                        <p class="card-text border-bottom" th:text="|Размер: ${a.size.displayLabel}|"
                           th:if="${a.animalType eq types.get('DOG')}"></p>
                        <th:block th:switch="${a.castrated}">
                            <p class="card-text border-bottom" th:case="true">Кастрирано</p>
                            <p class="card-text border-bottom" th:case="false">Некастрирано</p>
                        </th:block>

                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div class="btn-group">
                            <a type="button" th:href="@{/reservation/new/{id}(id = ${a.id})}" class="btn btn-sm btn-outline-success">Резервирай престой</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>